In [1]:
import pandas as pd
import numpy as np

In [33]:
# read data from xlsx file
data = pd.read_excel('data.xlsx')
data.head()

,Eta,Sesso,MGMTmet,IDH1,Unnamed: 4,VolMdCpre,Vol FLAIR,Unnamed: 7,RT,TMz cicli,Unnamed: 10,EORMdC (percentuale),EORtot,Unnamed: 13,OS (mesi),PFS (mesi)
0,51,1,0,1,NaN,51.5,172.6,NaN,64,6,NaN,0.955340,0.643685,NaN,17,11
1,51,1,0,1,NaN,48.2,146.4,NaN,64,6,NaN,1.000000,0.890710,NaN,25,19
2,55,1,0,1,NaN,43.8,11.2,NaN,64,6,NaN,1.000000,0.803571,NaN,23,16
3,77,1,1,1,NaN,82.2,227.7,NaN,64,6,NaN,0.959854,0.631094,NaN,19,9
4,76,1,0,1,NaN,10.2,26.5,NaN,48,6,NaN,1.000000,0.845283,NaN,29,15

In [34]:
# drop Unnamed columns
data.drop(data.columns[data.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
data.head()

,Eta,Sesso,MGMTmet,IDH1,VolMdCpre,Vol FLAIR,RT,TMz cicli,EORMdC (percentuale),EORtot,OS (mesi),PFS (mesi)
0,51,1,0,1,51.5,172.6,64,6,0.955340,0.643685,17,11
1,51,1,0,1,48.2,146.4,64,6,1.000000,0.890710,25,19
2,55,1,0,1,43.8,11.2,64,6,1.000000,0.803571,23,16
3,77,1,1,1,82.2,227.7,64,6,0.959854,0.631094,19,9
4,76,1,0,1,10.2,26.5,48,6,1.000000,0.845283,29,15

In [35]:
data

,Eta,Sesso,MGMTmet,IDH1,VolMdCpre,Vol FLAIR,RT,TMz cicli,EORMdC (percentuale),EORtot,OS (mesi),PFS (mesi)
0,51,1,0,1,51.5,172.6,64,6,0.955340,0.643685,17,11
1,51,1,0,1,48.2,146.4,64,6,1.000000,0.890710,25,19
2,55,1,0,1,43.8,11.2,64,6,1.000000,0.803571,23,16
3,77,1,1,1,82.2,227.7,64,6,0.959854,0.631094,19,9
4,76,1,0,1,10.2,26.5,48,6,1.000000,0.845283,29,15
...,...,...,...,...,...,...,...,...,...,...,...,...
145,48,1,0,0,46.6,27.6,64,6,1.000000,0.931159,32,21
146,52,2,0,1,64.7,64.7,64,6,1.000000,0.811437,26,17
147,59,2,1,0,26.4,26.7,64,6,1.000000,1.000000,38,19
148,72,1,1,0,84.8,139.0,64,6,1.000000,0.784173,24,9
149,58,2,1,0,27.7,55.6,64,6,1.000000,0.960432,36,14

In [36]:
#normalize data by column
column_excluded = ['Sesso', 'MGMTmet', 'IDH1']
for column in data.columns:
    if column not in column_excluded:
        data[column] = (data[column] - data[column].mean()) / data[column].std()
data.head()

,Eta,Sesso,MGMTmet,IDH1,VolMdCpre,Vol FLAIR,RT,TMz cicli,EORMdC (percentuale),EORtot,OS (mesi),PFS (mesi)
0,-0.973648,1,0,1,0.427323,1.831101,0.321120,-0.085274,-0.360291,-0.686745,-1.042213,-0.686944
1,-0.973648,1,0,1,0.291637,1.305539,0.321120,-0.085274,0.231308,0.488303,-0.312542,0.343472
2,-0.641156,1,0,1,0.110722,-1.406522,0.321120,-0.085274,0.231308,0.073801,-0.494960,-0.042934
3,1.187552,1,1,1,1.689613,2.936386,0.321120,-0.085274,-0.300493,-0.746639,-0.859795,-0.944548
4,1.104429,1,0,1,-1.270807,-1.099610,-1.558608,-0.085274,0.231308,0.272214,0.052293,-0.171736

In [37]:
data['Sesso'] = data['Sesso'].apply(lambda x: 1 if x == 1 else 0)

In [32]:
data

,Eta,Sesso,MGMTmet,IDH1,VolMdCpre,Vol FLAIR,RT,TMz cicli,EORMdC (percentuale),EORtot,OS (mesi),PFS (mesi)
0,-0.973648,1,0,1,0.427323,1.831101,0.321120,-0.085274,-0.360291,-0.686745,-1.042213,-0.686944
1,-0.973648,1,0,1,0.291637,1.305539,0.321120,-0.085274,0.231308,0.488303,-0.312542,0.343472
2,-0.641156,1,0,1,0.110722,-1.406522,0.321120,-0.085274,0.231308,0.073801,-0.494960,-0.042934
3,1.187552,1,1,1,1.689613,2.936386,0.321120,-0.085274,-0.300493,-0.746639,-0.859795,-0.944548
4,1.104429,1,0,1,-1.270807,-1.099610,-1.558608,-0.085274,0.231308,0.272214,0.052293,-0.171736
...,...,...,...,...,...,...,...,...,...,...,...,...
145,-1.223018,1,0,0,0.225850,-1.077544,0.321120,-0.085274,0.231308,0.680710,0.325920,0.601076
146,-0.890525,0,0,1,0.970067,-0.333332,0.321120,-0.085274,0.231308,0.111218,-0.221333,0.085868
147,-0.308664,0,1,0,-0.604713,-1.095598,0.321120,-0.085274,0.231308,1.008170,0.873173,0.343472
148,0.771936,1,1,0,1.796518,1.157098,0.321120,-0.085274,0.231308,-0.018474,-0.403751,-0.944548
149,-0.391787,0,1,0,-0.551260,-0.515875,0.321120,-0.085274,0.231308,0.819952,0.690755,-0.300538

In [ ]:
# plot correlation matrix
import seaborn as sns
import matplotlib.pyplot as plt
corr = data.corr()
plt.figure(figsize=(20,20))
sns.heatmap(corr, annot=True, fmt=".2f")
plt.show()